.form
  width: 100%
  max-width: 350px

  header
    font-size: 32px
    margin-bottom: 32px
    font-weight: 700
    color: #222
  
  input, .button
    width: 90vw
    max-width: 100%
    min-width: 288px

  .button

    &:focus
      text-decoration: underline

    &:hover
      filter: brightness(90%)
      

  button[data-enabled="false"]
      background-color: #999
      pointer-events: none

  .not-registered
    margin-top: 40px
    display: flex
    flex-direction: row
    align-items: center
    border: none
    font-size: 18px
    background-color: transparent
    text-decoration: none
    
    &:focus, &:hover
      p
        text-decoration: underline

    p
      margin-left: 10px
      color: #333
      font-weight: 500

@media (min-width: 500px) and (max-width: 799px)
  .form
    width: 500px